/**
 * Body
 */
body { font-family: 'Open Sans', sans-serif; color: #444444; background: #ffffff; margin-bottom: 50px; }
a, 
a:link, 
a:visited, 
a:active { color: #000000; text-decoration: underline; }
a:hover { text-decoration: none; }

/**
 * Header styles
 */
h1 { font-size: 28px; line-height: 28px; padding: 10px 0; margin: 0 0 20px 0; border-bottom: 1px solid #666666; font-weight: 600; overflow: hidden; text-overflow: ellipsis; }
h2 { font-size: 22px; line-height: 22px; padding: 8px 0; margin: 0 0 20px 0; border-bottom: 1px solid #888888; font-weight: 600; overflow: hidden; text-overflow: ellipsis; }

/**
 * Header
 */
.header-row { background: #222222; color: #ffffff; }
.logo-cell { padding: 0; font-size: 20px; float: left; font-weight: 700; }
.icon-cell { float: right; }
.icon-cell ul { list-style-type: none; padding: 0; margin: 0; border-left: 1px solid #000000; }
.icon-cell ul:after { content: ""; display: table; clear: both; }
.icon-cell ul li { float: left; font-size: 28px; padding: 5px 15px; cursor: pointer; border-right: 1px solid #000000; border-left: 1px solid #666666; background: #111111; }
.icon-cell ul li:last-child { border-right: none; }
.icon-cell ul li .mdi { margin: 3px 0; }
.logo { width: 300px; display: block; padding: 6px 6px; text-align: left; }
.logo img { width: 185px; }

@media screen and (max-width: 768px) {
    .logo-cell { float: none; }
    .logo-cell .logo { width: auto; text-align: center; }
}

/**
 * Header navigation
 */
nav.header-navigation { background: #EAEAEA; border-bottom: 1px solid #AAAAAA; margin: 0 0 20px 0; }
nav.header-navigation div.header-navigation-left { float: left; border-right: 1px solid #ffffff; height: 39px; }
nav.header-navigation div.header-navigation-right { float: right; border-left: 1px solid #AAAAAA; height: 39px; }
nav.header-navigation ul { list-style-type: none; padding: 0; margin: 0; display: inline-block; }
nav.header-navigation ul.root > li { float: left; border-left: 1px solid #ffffff; border-right: 1px solid #AAAAAA; position: relative; }
nav.header-navigation div.header-navigation-left > ul > li:first-child { border-left: 0; }
nav.header-navigation div.header-navigation-left > ul > li > .submenu-holder { margin-left: -32px; }
nav.header-navigation div.header-navigation-left > ul > li:first-child > ul.submenu { margin-left: -1px; }
nav.header-navigation div.header-navigation-right > ul > li:last-child { border-right: 0; }
nav.header-navigation div.header-navigation-right > ul > li > .submenu-holder { right: 0; margin-right: -31px; }
nav.header-navigation ul li a { display: block; line-height: 39px; text-decoration: none; padding: 0 16px; font-size: 16px; font-weight: normal; }
nav.header-navigation ul.root > li.active { background: #ffffff; border-bottom: 1px solid #FFFFFF; } 
nav.header-navigation ul.root > li:hover { background: #ffffff; z-index: 30; }

/* Subnavigation border fix */
nav ul.root > li > .border-fix { display: none; background: #ffffff; height: 2px; bottom: -1px; left: -1px; right: 0; position: absolute; z-index: 20; }
nav ul.root > li.has-children:hover > .border-fix,
nav ul.root > li.active > .border-fix { /*display: block;*/ }

/* Subnavigation tolerance area */
nav li .submenu-holder { display: none; position: absolute; padding: 30px; margin: -30px; }
nav li:hover > .submenu-holder { display: block; }
nav ul.root > li > .submenu-holder { padding-top: 0; margin-top: 0; }

/* Subnavigation */
nav li ul.submenu { border: 1px solid #AAAAAA; background: #ffffff; }
nav li ul.submenu > li { position: relative; }
nav li ul.submenu > li > a { padding: 10px 30px 10px 10px; min-width: 230px; left: 0; right: 0; line-height: 1; font-size: 14px; }
nav div.header-navigation-right li ul.submenu > li > a { padding: 10px 10px 10px 30px; min-width: 230px; left: 0; right: 0; line-height: 1; font-size: 14px; }
nav ul.submenu > li > .submenu-holder { left: 100%; top: -1px; }
nav div.header-navigation-right ul.submenu > li > .submenu-holder { right: 100%; left: auto; top: -1px; }
nav ul.submenu ul.submenu li { border-left: 1px solid #AAAAAA; margin-left: -1px; }
nav ul.submenu ul.submenu li:first-child { margin-left: -1px; }
nav div.header-navigation-left ul.submenu li.has-children > a:after { position: absolute; right: 0; top: 0; bottom: 0; padding: 4px 0px; font-family: "Material Design Icons"; font-style: normal; font-weight: bold; font-size: 28px; line-height: 1; content: "\f21b"; }
nav div.header-navigation-right ul.submenu li.has-children > a:before { position: absolute; left: 0; top: 0; bottom: 0; padding: 4px 0px; font-family: "Material Design Icons"; font-style: normal; font-weight: bold; font-size: 28px; line-height: 1; content: "\f21a"; }
nav li ul.submenu > li:hover > a { background: #EEEEEE; }
nav li ul.submenu > li a:hover,
nav li ul.submenu > li a:hover .glyphicon,
nav li ul.submenu > li a:hover .mdi { background: #DDDDDD; }

/* Icons */
nav .glyphicon,
nav .mdi { padding: 0 10px 4px 0; vertical-align: middle; color: #444444; font-size: 22px; }
nav .mdi { font-size: 30px; padding: 0 8px 4px 0; margin-left: -4px; }
nav .icon-only .glyphicon { padding: 0 1px 4px 0; }
nav .icon-only .mdi { padding: 0 0 4px 0; margin: 0; }
nav .submenu .glyphicon,
nav .submenu .mdi { font-size: 16px; padding: 0 5px 0 0; margin: -4px 0 0 0; }

/**
 * Top navigation
 */
nav.navigation { margin-bottom: 40px; }
nav.navigation ul { padding: 0; margin: 0; list-style-type: none; }
nav.navigation ul.main-menu { background: #3f3f3f; height: 3px; }

/* Responsive */
nav .responsive-header-navigation { display: none; }
nav .responsive-submenu-button { display: none; }
@media screen and (max-width: 768px) {
    nav.header-navigation { border-bottom: 0; }
    nav.header-navigation ul li a { padding: 0 10px; }
    
    nav div.header-navigation-side { display: none; }
    nav div.header-navigation-side.active { display: block; width: 100%; float: none; height: auto; border: 0; }
    nav div.header-navigation-side.active > ul.root  { display: block; background: #FFFFFF; }
    nav div.header-navigation-side.active ul.root > li  { display: block; float: none; border-left: 0; border-right: 0; }
    
    nav li .submenu-holder { position: relative; display: none; margin: 0; padding: 0; }
    nav li .submenu-holder .submenu { padding: 0; border: 0; display: block; }
    nav li .submenu a { padding-left: 60px !important; }
    nav li .submenu .submenu a { padding-left: 75px !important; }
    nav li .submenu .submenu .submenu a { padding-left: 90px !important; }
    nav li:hover > .submenu-holder { display: none; }
    nav li .submenu-holder.active { display: block; }
    nav.header-navigation div.header-navigation-right > ul > li > .submenu-holder { margin-right: 0; }
    nav div.header-navigation-right ul.submenu > li > .submenu-holder { right: auto; top: 0; }
    
    nav .responsive-header-navigation { display: block; }
    nav .responsive-nav-button { display: block; text-align: center; cursor: pointer; z-index: 100; border-bottom: 1px solid #AAAAAA; }
    nav .responsive-nav-button:hover { background: #FFFFFF; }
    nav .responsive-nav-button.active { background: #FFFFFF; border-bottom: 1px solid #CCCCCC; }
    nav .responsive-nav-button .mdi { font-size: 34px; line-height: 39px; padding: 0; margin: 0; }
    
    nav div.header-navigation-side a { position: relative; border-bottom: 1px solid #AAAAAA; padding: 0 10px; }
    nav .responsive-submenu-button { display: block; position: absolute; right: 0; top: 0; bottom: 0; border-left: 1px solid #AAAAAA; }
    nav .responsive-submenu-button .mdi,
    nav .responsive-submenu-button .glyphicon { padding: 0 10px 4px 10px; margin: 0; font-size: 22px; }
    nav .submenu .responsive-submenu-button .mdi,
    nav .submenu .responsive-submenu-button .glyphicon { line-height: 29px; padding-top: 3px; padding-bottom: 0; }

    nav.header-navigation div.responsive-header-navigation-left { float: left; width: 50%; border-right: 1px solid #AAA;}
    nav.header-navigation div.responsive-header-navigation-right { float: left; width: 50%; border-left: 1px solid #FFF; }
    
    nav .mdi { padding-right: 5px; }
    nav div.header-navigation-right ul.submenu li.has-children > a:before { content: ""; padding: 0; display: none; }
}

/**
 * Breadcrumb
 */
nav ol.breadcrumb { margin-bottom: 50px; padding: 0 15px; overflow-x: auto; white-space: nowrap; }
nav ol.breadcrumb li { padding: 0; line-height: 44px; }
nav ol.breadcrumb li a { display: inline-block; }
nav ol.breadcrumb li a.icon-link { padding: 0; }
nav ol.breadcrumb li a.active { text-decoration: none; }
nav ol.breadcrumb .glyphicon,
nav ol.breadcrumb .mdi { margin: -4px 0 0; padding: 0 10px 0 0; }
nav ol.breadcrumb .mdi { margin: -2px 0 0; font-size: 28px; }
.breadcrumb > li + li::before { content: "\f21b"; font-family: "Material Design Icons"; font-size: 34px; line-height: 20px; padding: 0; vertical-align: middle; }

/**
 * Container
 */
.container-fluid { max-width: 90%; } 

